<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 05</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
    <div class="w-75 mx-auto pt-3">
      <h1>Registro de Productos</h1>
      <hr>    
      <h4>Información del Producto</h4>

      <form action="" id="form-product" method="POST">

          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="form-group col-md-6">
                <label for="precio">Precio</label>
                <input type="number" step="any" min="0" class="form-control" id="precio" name="precio" required>
              </div>

          </div>
          
          <div class="form-row">
              <div class="form-group col-md-4">
                <label for="tipo">Tipo</label>
                <input type="text" class="form-control" id="tipo" name="tipo" required>
              </div>
              <div class="form-group col-md-4">
                <label for="presentacion">Presentacion</label>
                <input type="text" class="form-control" id="presentacion" name="presentacion" required>
              </div>
              <div class="form-group col-md-4">
                <label for="db">Gestor de DB</label>
                <select name="db" id="db" class="form-control" required>
                  <option value="" >-- Seleccione --</option>
                  <option value="M">MYSQL</option>
                  <option value="P">PostgreSQL</option>
                </select>
              </div>
          </div>

          <hr>
          <div class="form-group text-right">
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Enviar</button>
          </div>

      </form>

      {{{body}}}

    </div>

    
  

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="./js/app.js"></script>
</body>
</html>